


header {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
  border-bottom: 2px solid black;
}
.img_nav {
  width: 8em;
  transition: transform 1s ease-in-out;
}
.img_nav:hover {
  transform: rotate(-350deg);
}