@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
  font-family: Splatch;
  src: url(../fonts/Splatch.ttf) format(truetype);
}

:root {
  --cor-branco: #ffffff;
  --cor-1: #63d4a5;
  --cor-2: #1e6a5d;
  --cor-3: #1c3b32;
  --cor-4: #1a1d1b;
  --cor-5: #92929b;
  --cor-sombra: #4da68b4d;

  --font-links: 'Splatch', Times, serif;
  --font-principal: "Nunito", sans-serif;
  --font-secundaria: 'Courier New', Courier, monospace;
}

/* GERAL */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
background-color: var(--cor-4);
color: var(--cor-branco);
font-family: var(--font-principal);
}

/* HEADER */
.cabecalho {
  background-image: linear-gradient(to bottom, var(--cor-3), var(--cor-4));
  border-bottom: 2px solid var(--cor-1);
  margin: auto;
}

.cabecalho__nav {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: 0px 7px 7px var(--cor-sombra);
}

.cabecalho__link {
  text-decoration: none;
  font-family: var(--font-links);
  font-size: clamp(0.6rem, 0.4vw, 0.9rem);
  color: var(--cor-branco);
  margin: 10px 20px;
}

.cabecalho__link:hover {
  color: var(--cor-1);
}

.cabecalho__link__img {
  width: auto;
  max-width: 60px;
  min-width: 10px;
  transition: transform 1s ease-in-out;
}

.cabecalho__link__img:hover {
  transform: rotate(-360deg);
}

/* MAIN */

.conteudo {
  max-width: 2000px;
  margin: auto;
  padding: 20px 40px;
}

.conteudo__titulo {
  font-size: 2em;
  font-weight: 700;
  margin-top: 40px;
  text-align: center;
}

/*APRESENTAÇÃO*/
.conteudo__apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  max-width: 1300px;
  margin: auto;
}

.conteudo__apresentacao__div {
  height: 25%;
}

.conteudo__apresentacao__titulo {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-family: var(--font-secundaria);
  font-weight: bolder;
}

.conteudo__apresentacao__titulo::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.conteudo__apresentacao__titulo-destaque {
  color: var(--cor-1);
}

.conteudo__apresentacao__descricao {
  font-size: clamp(1.3rem, 2.2vw,2rem);
  font-family: var(--font-secundaria);
  color: var(--cor-5);
  margin-top: 8px;
  margin-bottom: 5%;
}

.conteudo__apresentacao__links {
  display: flex;
  flex-wrap: wrap;
}

.conteudo__apresentacao__links__link {
  text-decoration: none;
  color: var(--cor-branco);
  font-size: 1.2em;
  border: 2px solid var(--cor-1);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 30px;
  font-family: var(--font-secundaria);
}

.conteudo__apresentacao__links__link:hover {
  background-color: var(--cor-2);
}

.conteudo__apresentacao__imagem {
  width: auto;
  max-width: 450px;
  min-width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.conteudo__apresentacao__imagem:hover {
  transform: scale(1.1);
}


/* SOBRE MIM */
.conteudo__sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-principal);
  max-width: 1000px;
  margin: auto;
}

.conteudo__sobre-mim__descricao {
  font-size: 1.3em;
  color: var(--cor-5);
  text-align: center;
}

.conteudo__habilidades {
  margin: 10px auto;
  padding-top:50px;
}

.conteudo__habilidades__div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
  padding: 30px;
  gap: 20px
}

.conteudo__habilidades__habilidade {
  text-align: center;
  color: var(--cor-1);
  background-color: var(--cor-3);
  padding: 15px;
  border-radius: 40px 0 0 0;
  border-bottom: 4px solid var(--cor-1);
  width: 110px;
}

.conteudo__habilidades__habilidade:hover {
  transform: scale(1.1);
}

.conteudo__habilidades__habilidade__imagem{
  width: 60px;
  margin: auto;
  padding-top: 20px;
}

.conteudo__projetos {
  margin: 10px auto;
  padding-top:50px;
}

.conteudo__projetos__div {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: auto;
  gap: 30px;
  padding-top: 40px;
  justify-content: center;
}

.conteudo__projetos__projeto {
  background-color: var(--cor-3);
  max-width: 500px;
  min-width: 200px;
  text-align: center;
  border: 3px solid var(--cor-1);
  border-radius: 30px 0 30px 0px;
}

.conteudo__projetos__projeto:hover {
  transform: scale(1.1);
  background-color: var(--cor-sombra);
}

.conteudo__projetos__projeto__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.conteudo__projetos__projeto__push {
  width: 10%;
}

.conteudo__projetos__projeto__imagem {
  width: 90%;
}

.conteudo__contatos {
  margin: 10px auto;
  padding-top:50px;
}

.conteudo__contatos__div {
  display: flex;
  flex-wrap: wrap;
  max-width: 2000px;
  margin: auto;
  padding-top: 50px;
  justify-content: center;
  gap: 50px;
}

.conteudo__contatos__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 0 40px;
  text-decoration: none;
}

.conteudo__contatos__link:hover {
  transform: scale(1.2);
}

.conteudo__contatos__imagem {
  background-color: var(--cor-3);
  width: 65px;
  padding: 5px;
  border: 2px solid var(--cor-1);
  border-radius: 50%;
}

.conteudo__contatos__titulo {
  color: var(--cor-branco);
  font-family: var(--font-secundaria);
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
}

.conteudo__contatos__endereço {
  color: var(--cor-5);
  font-family: var(--font-principal);
  font-size: 1rem;
  font-weight: 600;
}
